.container {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #a771fe40;
}

.container__row {
  flex-direction: row;
}

.container__col {
  flex-direction: column;
}

.container__large {
  border-radius: 32px;
  padding: 32px;
  gap: 32px;
}

.container__medium {
  border-radius: 22px;
  padding: 24px;
  gap: 24px;
}

.container__small {
  border-radius: 16px;
  padding: 12px;
  gap: 12px;
}
